@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.SidebarMenu {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #2C3E50;
}
.SidebarMenu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.SidebarMenu__heading span {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.065em;
}
.SidebarMenu__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.SidebarMenu__list span {
  padding-left: 30px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #B6B6B6;
}
.SidebarMenu__list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  list-style: none;
  transition: background 0.3s;
}
.SidebarMenu__list li:hover {
  background: #1e2a36;
}
.SidebarMenu__list li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #F6F7FA;
  transition: padding-left 0.3s;
}

.TopbarMenu {
  grid-column: 2;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 30px;
}
.TopbarMenu__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.TopbarMenu__Right {
  display: flex;
  align-items: center;
  gap: 50px;
}
.TopbarMenu__Right__notification i {
  color: #2C3E50;
}
.TopbarMenu__Right__user {
  display: flex;
  gap: 20px;
  width: 200px;
}
.TopbarMenu__Right__user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.TopbarMenu__Right__user__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.TopbarMenu__Right__user__description :first-child {
  font-weight: bold;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 20px;
  color: #242424;
}
.TopbarMenu__Right__user__description :last-child {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #4e4e4e;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
  min-height: auto;
}
body .Container {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 133px);
  grid-gap: 30px;
  padding: 30px;
}
body .Container__card {
  background-color: #2C3E50;
  grid-column: 1/4;
  grid-row: 1/5;
}
body .Container__card2 {
  background-color: #2C3E50;
  grid-column: 5/8;
  grid-row: 3/8;
}
body .Container__card3 {
  background-color: #2C3E50;
  grid-column: 1/13;
  grid-row: 6/8;
}
body .Container__card4 {
  background-color: #2C3E50;
  grid-column: 10/12;
  grid-row: 10/12;
}
body .Container__card5 {
  background-color: #2C3E50;
  grid-column: 10/12;
  grid-row: 4/15;
}

.burger {
  width: 22px;
  height: 24px;
  cursor: pointer;
  position: relative;
  /*
  &.active span{
    background-color: transparent;

    &::before{
      transform: translateY(0) rotateZ(45deg);
    }
    &::after{
      transform: translateY(0) rotateZ(-45deg);
    }
  }
  */
}
.burger span {
  width: 100%;
  height: 3px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s ease-in-out;
  border-radius: 0px;
}
.burger span::before, .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 0px;
  background: black;
  transition: transform 0.2s ease-in-out;
}
.burger span::before {
  transform: translateY(-7px);
}
.burger span::after {
  transform: translateY(7px);
}

/*# sourceMappingURL=style.css.map */
